**/**/target
/target
**/**/bin
**/.externalToolBuilders
**/dependency-reduced-pom.xml
**/.settings
**/.classpath
**/.project
**/javaw_*.log
**/.iml
**/.externalToolBuilders
*.log
.m2
**/MANIFEST.MF
**/target
.repository/**
*.class
*.war
